<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <h4>Gebėjimai</h4>
        <div class="skill-input-container">
            <input class="form-control skills-input" type="text" placeholder="Koks tavo gebėjimas?" required/>
            <button class="btn btn-primary add-skill" data-id="{{ app.user.id }}">Pridėk</button>
        </div>
        <div class="added-skills"></div>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>