<div class="container">
    <div class="content-container">
        <p class="page-heading">Jūsų profilis</p>
        <img class="img-responsive profile-img" src="{{ asset('img/profiles/'~app.user.photo)}}" alt="Logotipas">
    </div>
</div>