<div class="container">
    <div class="content-container">
        <p class="page-heading">Tavo profilis</p>
        <img class="img-responsive profile-img" src="{{ asset('img/profiles/'~app.user.photo)}}" alt="Nuotrauka">
        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('fos_user_profile_edit', {'id' : app.user.id}) }}">Redaguoti</a>
        </div>
    </div>
</div>