<div class="popup" data-popup="popup-2">
    <div class="popup-inner">
        <h4>Reikalavimai</h4>
        <div class="skill-input-container">
            <input class="form-control requirements-input" type="text" placeholder="Po vieną įrašyk reikalavimus. Pvz.: php" required/>
            <button class="btn btn-primary add-requirement" data-id="{{ jobAd.id }}">Pridėk</button>
        </div>
        <div class="added-requirements"></div>
        <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
    </div>
</div>