{% extends ':jobad:index.html.twig' %}

{% block heading %}
    {{ app.user.title }}
{% endblock %}

{% block noResults %}
    {% if  jobAds == null %}
        <p>Nieko nerasta...</p>
    {% endif %}
{% endblock %}

{% block employer %}
    {# empty #}
{% endblock %}

{% block linkAds %}
    {% if jobAd.jobApply.count > 0 %}
        <div class="candidates-count-block">
            <a id="candidates" href="{{ path('jobapply_index', { 'id': jobAd.id }) }}">Kandidatų į šią poziciją: {{ jobAd.JobApply.count }}</a>
        </div>
    {% endif %}
{% endblock %}