<div class="row">
    <div class="col-md-12">
        {{ form_start(form, {'attr': { 'class':  'search' }} ) }}
            {{ form_row(form.title, {'attr': {'placeholder': placeholder ?? 'Raktažodis' }}) }}
            <button class="btn btn-default" type="submit">Ieškoti</button>
        {{ form_end(form) }}
    </div>
</div>