{% extends 'base.html.twig' %}

{% block body %}
    <div class="slogan-block">
        <div class="slogan-background"></div>
        <div class="slogan text-center">
            <h2>Naujas požiūris į darbo paieškas!</h2>
            <p>Lorem ipsum sit dolor amet</p>
        </div>
    </div>
{% endblock %}
