{% extends 'base.html.twig' %}

{% block body %}
    <div class="slogan-block">
        <div class="slogan-background"></div>
        {% block registerModal %}
            <div class="slogan text-center">
                <div>
                    <h2>Kitoks požiūris į darbo paieškas!</h2>
                </div>
                {% if not app.user %}
                    <a href="{{ path('fos_user_registration_register') }}">
                        <button class="btn btn-info">Registruokis ir būk pastebėtas!</button>
                    </a>
                {% endif %}
            </div>
        {% endblock %}
    </div>
    <div id="some-content" class="container">
        <div class="homepage-heading-block">
            <p class="homepage-heading">Kuo ypatingas GetHired?</p>
        </div>
        <div class="row">
            <div class="col-sm-6 text-justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.</p>
            </div>
            <div class="col-sm-6 text-justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.</p>
            </div>
        </div>
    </div>

    <section class="homepage-row-background">
        <div class="homepage-heading-block">
            <p class="homepage-heading text-center">Kaip veikia GetHired?</p>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1 text-justify">
                <div class="homepage-circle-block">
                    <p class="homepage-circle-text">Užsiregistruok</p>
                </div>
            </div>
            <div class="col-sm-2 text-justify">
                <div class="homepage-circle-block">
                    <p class="homepage-circle-text">Susikurk profilį</p>
                </div>
            </div>
            <div class="col-sm-2 text-justify">
                <div class="homepage-circle-block">
                    <p class="homepage-circle-text">Įveik užduotį</p>
                </div>
            </div>
            <div class="col-sm-2 text-justify">
                <div class="homepage-circle-block">
                    <p class="homepage-circle-text">Būk įvertintas</p>
                </div>
            </div>
            <div class="col-sm-2 text-justify">
                <div class="homepage-circle-block">
                    <p class="homepage-circle-text">Pradėk dirbti!</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="homepage-heading-block-sm">
            <p class="page-heading">GetHired darbus siūlo</p>
        </div>
        <div class="row">
            {#TODO list logos#}
        </div>

        <div class="homepage-block">
            <p class="page-heading text-center">Turi mums klausimų?</p>
            <p class="text-uppercase text-center homepage-contact-us">susisiekime!</p>
            <div class="row">
                <div class="col-xs-6 text-right">
                    <p>El. paštas: gethired@email.com</p>
                </div>
                <div class="col-xs-6 text-left">
                    <p>Telefonas: +370 666 66666</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
