<div class="popup" data-popup="popup-3">
    <div class="popup-inner register-popup">
        <div class="register-popup-open text-center">
            <h2>Atėjau į <span class="get">Get</span><span class="hired">Hired</span>, nes...</h2>
            <a href="{{ path('user_seeker_registration') }}">
                <button class="btn btn-info">Ieškau darbo</button>
            </a>
            <a href="{{ path('user_employer_registration') }}">
                <button class="btn btn-info">Siūlau darbą</button>
            </a>
        </div>
        <a class="popup-close" data-popup-close="popup-3" id="register-popup-close" href="#">x</a>
    </div>
</div>
