{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="content-container">
            <p class="page-heading">Seekerio profilis</p>
            {{ userSeeker.name }}
            <img class="img-responsive profile-img" src="{{ asset('img/profiles/'~userSeeker.photo)}}" alt="Nuotrauka">
            <a class="pull-right" href="{{ path('user_seeker_index') }}">Grįžti atgal</a>
        </div>
    </div>
{% endblock %}
