@import url('https://fonts.googleapis.com/css?family=Cabin:400,500|Raleway:300,400,500');

/*GLOBAL*/
body {
    font-family: 'Raleway', Helvetica, Arial;
    background-image: url("../img/natural_paper.png");
}

.btn {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
}

.btn:active:focus, .btn:focus {
    outline: none;
}

.page-heading {
    font-size: 26px;
    font-weight: 500;
    color: dimgrey;
}

.section-heading {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

.content-container {
    margin-top: 140px;
    margin-bottom: 40px;
    padding: 40px;
    border: 1px solid lightgray;
    border-radius: 45px;
    background-color: white;
    position: relative;
}

.form-container {
    margin-top: 180px;
    margin-bottom: 40px;
    padding: 40px 60px 20px;
    border: 1px solid lightgray;
    border-radius: 45px;
    background-color: white;
    position: relative;
}

.form-upper-btn {
    position: absolute;
    z-index: 1;
    right: 40px;
    top: 10px;
}

.info-block {
    padding-bottom: 20px;
}

.btn-block {
    padding: 5px 0;
    text-align: center;
}

.img-center {
    margin-right: auto;
    margin-left: auto;
}

/*NAVIGATION*/

.navbar {
    min-height: 70px;
}

.nav {
    min-height: 70px;
}

.navbar-nav li {
    margin-top: 10px;
    margin-right: 10px;
}

.navbar-nav li a {
    font-size: 16px;
    font-weight: 400;
    color: darkgrey;
    background-color: white;
    border-radius: 10px;
}

.navbar-nav li a:hover {
    color: #c32aff;
    background-color: white;
}

.navbar-nav li a:focus {
    background-color: white;
}

.navbar-nav li a:focus:hover {
    background-color: white;
}

.navbar-brand {
    height: 70px;
    font-size: 40px;
    font-weight: 500;
    display: table;
}

.navbar-toggle .icon-bar {
    background-color: #00b8e7;
    height: 4px;
    width: 28px;
}

.navbar-toggle {
    padding: 20px;
}

.get{
    color: #00b8e7;
    display: table-cell;
    vertical-align: middle;
}

.hired{
    color: #c32aff;
    display: table-cell;
    vertical-align: middle;
}

.navbar-left .form-control {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;
}

.navbar-form .form-control {
    width: 250px;
}

.navbar-form {
    position: relative;
}
.navbar-form .btn {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.navbar {
    margin-bottom: 0;
}

.affix {
    -webkit-transition:padding 0.2s ease-out;
    -moz-transition:padding 0.2s ease-out;
    -o-transition:padding 0.2s ease-out;
    transition:padding 0.2s ease-out;
    background-color: white;
    border-bottom: 0.5px solid lightgrey;
}

/* HOMEPAGE */

.slogan-block {
    position: relative;
}

.slogan-background {
    /*min-height: 800px;*/
    background-size: cover;
    background-position: center center;
    background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slogan {
    position: absolute;
    z-index: 200;
    right: 50%;
    margin-right: -400px;
    width: 800px;
    top: 50%;
    background:rgba(255,255,255,0.6);
    height: 400px;
    border-radius: 30px;
    margin-top: -200px;
    padding-top: 150px;
}

.slogan h2 {
    font-size: 46px;
    color: #4d4d4d;
    margin-bottom: 20px;
}

/* USER PROFILE EDIT*/

.profile-img {
    /*max-height: 350px;*/
    border-radius: 30px;
}

.profile-edit-btn a {
    cursor: pointer;
}

.profile-list {
    list-style-type: none;
    padding-left: 0;
}

.profile-jobapply-list-item {
    min-height: 52px;
    position: relative;
}

.profile-heading {
    padding: 20px 0 5px;
    border-bottom: 0.5px solid lightgrey;
    text-transform: uppercase;
}

.profile-user-name {
    padding: 10px 0;
    font-size: 36px;
}

.profile-list li {
    padding: 5px 0;
}

.mark {
    color: #00b8e7;
    font-size: 36px;
    background-color: transparent;
    padding: 0;
    margin-right: 10px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: -18px;
}

.comment {
    padding-left: 30px;
}

/*USERS SEEKERS LIST*/


.seekers-list-img {
    border-radius: 20px;
}

.seekers-list-skills {
    margin: 5px 0 10px;
    padding: 10px;
    border-radius: 20px;
    background-image: url("../img/debut_light.png");
}

/*JOB AD LIST*/

.job-ad-box {
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 30px;
    background-color: #ededed;
    position: relative;
}

.job-title-block {
    display: table;
    min-height: 75px;
}

.job-title {
    padding-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.job-list-job-title {
    display: table-cell;
    vertical-align: middle;
}

.job-ad-button {
    position: relative;
    text-align: center;
}

.candidates-count-block {
    display: none;
}

/*JOB AD SHOW*/

.show-candidates-count {
    position: absolute;
    z-index: 1;
    right: 40px;
    top: 20px;
    color: #7030a0;
}

.show-job-ad-title {
    margin-top: 30px;
}

/*JOB APPLY INDEX*/

.candidates-list-heading {
    font-size: 20px;
}

.candidates-list-heading:hover {
    text-decoration: none;
    color: darkmagenta;
}

.assignment-list {
    border-top: 0.5px solid lightgrey;
    padding-top: 20px;
    text-align: center;
}

.assignment-evaluation {
    text-transform: uppercase;
    color: #7030a0;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
}

.row-list {
    background-color: #ededed;
    border-radius: 30px;
    padding: 20px;
    margin: 20px 0;
}

/*EMPLOYERS LIST*/

.employers-list-border {
    border-top: 0.5px solid lightgrey;
    padding-top: 20px;
    text-align: center;
}

/*POPUP*/

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    min-height: 250px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

.popup h4 {
    margin-top: 0;
}

.skill-input-container {
    position: relative;
}

.add-requirement, .add-skill {
    position: absolute;
    z-index: 1;
    right: -4px;
    top: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.added-requirements, .added-skills {
    margin-top: 5px;
    margin-bottom: 20px;
}

.skill-block {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 8px;
    min-width: 30px;
    background-color: darkgrey;
    border-radius: 5px;
    text-align: justify;
    color: whitesmoke;
}

.skill, .requirement {
    font-weight: 400;
}

.skill:before, .requirement:before {
    content: '#';
    color: grey;
    font-weight: 500;
}

.skill-block .skill-delete, .requirement-delete, .requirement-delete-from-db {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    color: grey;
}

.skill-block:hover .skill-delete, .requirement-delete, .requirement-delete-from-db {
    cursor: pointer;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.sf-toolbar-clearer {
    display: none;
}

/* Small Devices, Tablets */
/*TODO refactor media queries*/

@media only screen and (max-width : 768px) {

    .form-container {
       padding: 30px 20px;
    }

    .slogan-background {
        min-height: 600px;
    }

    .slogan {
        width: 100%;
        right: auto;
        left: auto;
        border-radius: 0;
    }

    .slogan h2 {
        font-size: 38px;
    }

    .navbar-brand {
        padding-right: 15px;
        padding-left: 15px;
    }

    /*JOB AS SHOW*/
    .show-candidates-count {
        right: auto;
        left: auto;
    }


}

@media only screen and (min-width : 768px) {

    .slogan-background {
        min-height: 800px;
    }

    .affix-top {
        /* navbar style at top */
        background:transparent;
        border-color:transparent;
        padding: 15px;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }

    .navbar-nav li {
        padding-top: 10px;
        text-align: center;
    }

    .navbar-nav li a {
        padding: 8px 20px;
        min-width: 136px;
    }

    .dropdown-menu li {
        margin: 0;
        padding-top: 0;
    }

    .nav .open a {
        background-color: white;
    }

    .nav .open a:hover {
        background-color: white;
    }

    .nav .open a:focus {
        background-color: white;
    }

    .job-ad-info {
        min-height: 146px;
        text-align: justify;
    }

    .job-ad-requirements {
        min-height: 62px;
    }

    .candidates-count-block {
        display: block;
        margin-top: 5px;
        text-align: right;
        font-size: 14px;
    }

    .candidates-count-block p {
        margin-bottom: 0;
    }

    .employers-list-border {
        text-align: left;
        border: none;
        padding-top: 0;
    }

}

@media only screen and (min-width: 992px) {
    /*JOB AD LIST*/
    .job-ad-box {
        min-height: 475px;
        position: relative;
    }

    .job-ad-button {
        position: absolute;
        z-index: 1;
        bottom: 40px;
        right: 50%;
        margin-right: -64px;

    }

    .assignment-list {
        text-align: left;
        border: none;
        padding-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .box-lg {
        min-height: 550px;
    }
}